.flex{
  display: flex; 
}
.scrum{   
margin: 2px;
  width: 25%;
  padding: 10px;
  border: 1px solid #aaaaaa;
  background-color: '#c68f0c'
}


.task{ 
  background: whitesmoke;
  width: 90%;
  padding: 10px;
  margin-bottom: 5px;
}

img{  
  width: 40%;
}